

.item{
	
}

.content{
	margin-left:1em;
	margin-bottom:0.5em;
	background-color:rgba(0,0,0,0.1);
}
#leftcol > .content{
	margin-left:0;
}

.item table{
	width:100%;
	font-size:14px;
	border-collapse:collapse;
	border-left:1px solid lightgrey;
	user-select:none;
	-webkit-user-select:none;
	cursor:pointer;
	background-color:white;
}
.item table:hover .col1{
	background-color:highlight;
}

.array,.object,.boolean,.number{
	font-family:monospace;
}
.array{
	color:green;
}
.object{
	color:darkblue;
}
.number{
	color:red;
}
.boolean{
	color:purple;
}
.null{
	color:orange;
}
.string {
	font-family: Verdana, Geneva, sans-serif;
}
.empty{
	font-style:italic;
}



.col1, .col2, .col3{
	border-bottom:1px solid lightgrey;
	padding: 1px 1em;
}
.col1{
	width:4cm;
	text-align:left;
	font-family: sans-serif;
	font-weight: bold;
}
.col2{
	min-width:4cm;
	
}
.col3{
	width:10em;
	text-align:right;
}



body{
	display:flex;
	flex-direction:column;
	height:100%;
	padding:0;
	margin:0;
}
#cols{
	display:flex;
	flex: 1 1 auto;
}


#leftcol, #rightcol{
	flex: 1 0 300px;
	padding:5px;
	margin:20px;
	border:1px solid grey;
}
#leftcol{
	flex: 1 0 300px;
	overflow-y:scroll;
	background: #EEEEEE;
}
#rightcol{
	flex: 1 0 300px;
	display:flex;
	flex-direction: column;
	margin-left:0;
	
}

#rightcol>div{
	border:1px solid lightgrey;
}

#pathtext, #menu, #editdiv{
	padding:5px;
	border:1px solid lightgrey;
	flex: 1 1 auto;
}
#menu, #pathtext{
	margin-bottom:5px;
	flex: 0 1 auto;
}
#pathtext{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: grey;
	font-size: 0.8em;
	height:1em;
}











